@import "tailwindcss";

@theme {
  /* colors */
  --color-primary: hsl(4, 100%, 67%);
  --color-Blue-800: hsl(234, 29%, 20%);
  --color-Blue-700: hsl(235, 18%, 26%);
  --color-Grey: hsl(0, 0%, 58%);

  /* font family */
  --font-roboto: "Roboto", sans-serif;
}

@layer components {
  .flex-2 {
    @apply flex items-center gap-2;
  }

  .btn {
    @apply bg-Blue-800 text-white font-bold rounded-md tracking-wider cursor-pointer py-4 focus:outline-none focus:border-0 focus:bg-linear-to-r focus:from-[#ff6a3a] focus:to-[#ff527b] hover:bg-linear-to-r hover:from-[#ff6a3a] hover:to-[#ff527b] transition-all duration-300 shadow-md hover:shadow-lg active:shadow-2xl;
  }
}
